body {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFC0CB;
    color: #F5F5DC;
    font-family: 'Fredoka One', sans-serif;

    padding: 20px;
    box-sizing: border-box;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    /* Changes cursor to pointer when hovering over the button */
}

.icon-button {
    display: inline-flex;
    align-items: center;
    background-color: #F5F5DC;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.button-icon {
    width: 50px;
    /* Adjust based on your icon's size */
    height: 50px;
    /* Adjust based on your icon's size */
}

#typewriter {
    width: 350px;
    height: 180px;
    background-color: #FFC0CB;
    font-family: 'Fredoka One', sans-serif;
    font-size: medium;
    text-align: center;
    color: #F5F5DC;
    resize: none;
    overflow: hidden;
    /* Hide scrollbar */
    border-color: #FFC0CB;
}

.landing-page-image {
    width: 250px;
    height: 140.625;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    /* or 'inline', 'inline-block', etc., depending on your needs */
}